@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

$white: #eee;
$dark: #5b5b65;
$light-green: #111;

$space: 15px;
$db_space: $space*2;

$bootstrap-padding: 15px;

html, body {
  height: 100%;
  background-color: $white;
  font-family: 'Quicksand', sans-serif;
}

.count-down {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
}

.navbar {
  margin: 0;
}

.page-footer {
  background-color: $dark;
  padding: 10px 0;
  color: $white;
}

.bg {
  //background-color: $dark;
  background: $dark url(../img/exceed.jpg) no-repeat bottom;
  background-size: cover;
  width: 100%;
  padding: $db_space;
}

.container {
  padding: 0;
}

.page {

  margin-top: 30px;
  vertical-align: middle;


  .progress-circle {
    width: 100%;
    height: auto;
  }

  .row {
    margin-left: -$space;
    margin-right: -$space;
  }

  .card {
    background-color: rgba(240, 242, 240, 0.98);
    //box-shadow: 0 1px 3px #787887;
    //border: 1px solid #ddd;
    border-radius: 8px;
    //border-style: solid none none none;
    padding: 20px;
    margin-top: $space;
    width: 100%;

    a {
      font-size: 2rem;
    }

    a:hover {
      font-style: normal;
    }
  }

  .card, .project-card {
    padding: 0px;
    overflow: hidden;
    min-height: 100px;

    .img-slope {
      position: absolute;
      //right: 0;
      //top: 0;
      width: 70%;
      height: 100%;
    }
  }

  .block {
    margin-left: $space -$bootstrap-padding;
    margin-right: $space -$bootstrap-padding;
  }

  .info {
    height: 100%;
    position: absolute;
    display: table-cell;
    vertical-align: middle;
  }
}

.carousel-inner {
  .item {
    img {
      max-width: 450px;
    }
  }
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
}

.carousel-control {
  color: #757575;
}


.carousel-indicators {
  li {
    border: 1px solid #757575;
  }
  .active {
    background-color: #757575;
  }
}
