@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

$white: #eee;
$dark: #5b5b65;
$light-green: #95e4c5;

$space: 15px;
$db_space: $space*2;

$bootstrap-padding: 15px;

$card-color: rgba(240, 242, 240, 0.98);

h2 {
  margin: 0;
}

html, body {
  height: 100%;
  background-color: $white;
  font-family: 'Quicksand', sans-serif;
}

.count-down {
  position: absolute;
  left: 0;
}

.navbar {
  margin: 0;
}

.page-footer {
  background-color: $dark;
  padding: 10px 0;
  color: $white;
}

.bg {
  background: $dark url(../img/exceed.jpg) no-repeat bottom;
  background-size: cover;
  width: 100%;
  padding: $db_space;
}

.container {
  padding: 0;
}

.page {

  margin-top: 30px;
  vertical-align: middle;

  .block {
    margin-left: $space -$bootstrap-padding;
    margin-right: $space -$bootstrap-padding;
  }

  .info {
    height: 100%;
    position: absolute;
    display: table-cell;
    vertical-align: middle;
  }

  .progress-circle {
    width: 100%;
    height: auto;
  }

  .row {
    margin-left: -$space;
    margin-right: -$space;
  }

  .card {
    width: 100%;
    padding: 20px;
    margin-top: $space;
    background-color: $card-color;
    border-radius: 8px;

    a {
      font-size: 2rem;
    }

    a:hover {
      font-style: normal;
      text-decoration: none;
    }
  }

  .project-card {
    @extend .card;
    min-height: 100px;
    padding: 0;
    margin-bottom: 2px;
    overflow: hidden;

    .img-slope {
      background-size: cover;
      height: 100px;
      line-height: 0;
    }

    .project-info {
      height: 100%;
      vertical-align: middle;
    }
  }

  .project-card:hover {
    margin-top: calc(#{$space} - 2px);
    margin-bottom: 0;
    border: 2px solid $light-green;
  }

  .vote-card {
    @extend .card;
  }

  .vote-card:hover {
    background-color: $light-green;
  }
}

.carousel-inner {
  .item {
    img {
      max-width: 450px;
    }
  }
}

.new-control {
  background-image: none !important;
}

.carousel-control {
  color: #757575;
}


.carousel-indicators {
  li {
    border: 1px solid #757575;
  }
  .active {
    background-color: #757575;
  }
}

.logo, .logo-text {
  color: #333;
  vertical-align: middle;
  font-size: 3rem;
  display: inline;
}

.navbar-brand {
  @extend .navbar-brand;
  display: -webkit-inline-box;
  display: inline-flex;
}