#head{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.toolbar{
    padding-left: 40px;
    padding-top: 10px;
}
.slider .slides li .caption {
    left:0% !important;
    top:2% !important;
    width:100% !important;
}