#head{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.toolbar{
    padding-left: 40px;
    padding-top: 10px;
}
.slider .slides li .caption {
    left:0% !important;
    top:2% !important;
    width:100% !important;
}
.slider .slides{
    background: url('../img/no_image.png') no-repeat center;
    background-size:  contain;
}
.add-css{
    font-size: 1.2rem;
    color: #26a69a !important;
    display: block;
    padding: 1rem 1rem;
}
.ui-state-focus{
    background-color: #f2f2f2;
}