.padding-nav {
  padding: 5rem 0 0 0;
}
.toolbar{
    padding-left: 40px;
    padding-top: 10px;
}
.toolbar-s{
    padding-left: 0px;
    padding-top: 10px;
    text-align: center;
}
.slider .slides li .caption {
    left:0% !important;
    top:2% !important;
    width:100% !important;
}
.slider .slides{
    height: 450px;
    background: url('../img/no_image.png') no-repeat center;
    background-size:  contain;
}
.slider .indicators .indicator-item {
    background-color: #757575 ;
}
.add-css{
    font-size: 1.2rem;
    color: #26a69a !important;
    display: block;
    padding: 1rem 1rem;
}
.ui-state-focus{
    background-color: #f2f2f2;
}
.slider{
    height:490px;
}
.btn-markdown{
    padding: 0 0.75rem;
}
body{
    background: #eee !important;
}