html, body, .container, .row {
    height: 100%;
    background-color: #5b5b65;
    font-family: 'Quicksand', sans-serif;
}

input[type="text"], input[type="password"] {
    background-color: #5b5b65;
    box-shadow: inset 0 1px 3px #494952;
    border: 1px solid #787887;
    border-style: none none solid none;
    margin-top: 10px;
    padding: 20px;
    color: #eee;
}

input[type="text"], input[type="password"], .login {
    min-height: 40px;
    text-transform: uppercase;
}

.x {
    height: 134px;
    width: 80px;
    background: url(../img/x.png) no-repeat;
    background-size: contain;
}

.logo, .logo-text {
    color: #eee;
    vertical-align: middle;
    font-size: 6rem;
    display: inline;
}

.login {
    color: #5b5b65;
    background-color: #7affca;
    box-shadow: 0 1px 2px #494952;
    border: 0.5px solid #787887;
    border-style: solid none none none;
}

.login:hover {
    color: #5b5b65;
}

.card {
    top: 5%;
    padding: 20px 30px;
}

.flash {
    margin-top: 10px;
    margin-bottom: 0;
}