/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* For Mobile Auto-Image Size*/


.card-panel {
    padding: 20px;
    margin: 0.5rem 0 1rem 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    background-color: #fff;
}


.card-panel:hover {
    background-color: #e4e4e4;
}

.card-panel .pane {
    height: 100px;
    padding-left: 140px;
    position: relative;
}

.card-panel .pane .bottom-content {
    position: absolute;
    bottom : 1px;
    right : 16px;
    font-family: Roboto Light;
    color : #80cbc4;
    font-weight: bold;
    font-size: 1rem;
}


.card-panel .pane p {
    font-family: Roboto Light;
    color: #484848;
    padding-top: 1%;
    position:absolute;
    margin:0px;
}

.card-panel .pane .card-title {
    display: block;
    z-index: 99;
    color: #484848;
    font-size: 24px;
    font-weight: 300; }

.card-panel .pane img {
    position: absolute;
    width: 100px;
    height: 100px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5%;
    background-clip: padding-box;
}


  span.badge.rated {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box; }
  span.badge.rated:after {
    content: " points rated";
  }

  .lobby-banner {
      display: block;
      text-align: center;
      font-family:Roboto Light;
      line-height: 120%;
      -webkit-font-smoothing: antialiased;
      color: #26a69a;
      background-image: -webkit-linear-gradient(92deg,#26a69a,#80cbc4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: hue 40s infinite linear;
  }

  .trigger {
      -webkit-animation: hue 40s infinite linear;
  }

  .trigger-text {
      color: #26a69a;
      background-image: -webkit-linear-gradient(92deg,#26a69a,#26a69a);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }


/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}
#head{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../font/glyphicons-halflings-regular.eot');
    src: url('../font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../font/glyphicons-halflings-regular.woff2') format('woff2'), url('../assets/font/glyphicons-halflings-regular.woff') format('woff'), url('../assets/font/glyphicons-halflings-regular.ttf') format('truetype'), url('../font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-ice-lolly-tasted:before {
    content: "\e232";
}
.logo{
    vertical-align: middle;
    font-size: 2.8rem;
}
.count-down-label{
    display: block;
    padding-top: 3px;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}
.count-down div {
    display: inline-block;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 100;
    line-height: 1;
    text-align: right;
}
/* IE7 inline-block hack */
*+html .count-down div{
    display: inline;
    zoom: 1;
}
.count-down div:first-child {
    margin-left: 0;
}
.count-down div span {
    display: block;
    border-top: 1px solid #cecece;
    padding-top: 3px;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
}