/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* For Mobile Auto-Image Size*/
@font-face{
    font-family:"Roboto Thin";
    src:url("../font/roboto/Roboto-Thin.woff2") format("woff2"),url("../font/roboto/Roboto-Thin.woff") format("woff"),url("../font/roboto/Roboto-Thin.ttf") format("truetype");
    font-weight:200;
}
@font-face{
    font-family:"Roboto Light";
    src:url("../font/roboto/Roboto-Light.woff2") format("woff2"),url("../font/roboto/Roboto-Light.woff") format("woff"),url("../font/roboto/Roboto-Light.ttf") format("truetype");
    font-weight:300;
}
@font-face{
    font-family:"Roboto Regular";
    src:url("../font/roboto/Roboto-Regular.woff2") format("woff2"),url("../font/roboto/Roboto-Regular.woff") format("woff"),url("../font/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight:400;
}
@font-face{
    font-family:"Roboto Medium";
    src:url("../font/roboto/Roboto-Medium.woff2") format("woff2"),url("../font/roboto/Roboto-Medium.woff") format("woff"),url("../font/roboto/Roboto-Medium.ttf") format("truetype");
    font-weight:500;
}
@font-face{
    font-family:"Roboto Bold";
    src:url("../font/roboto/Roboto-Bold.woff2") format("woff2"),url("../font/roboto/Roboto-Bold.woff") format("woff"),url("../font/roboto/Roboto-Bold.ttf") format("truetype");
    font-weight:700;
}



@media only screen and (max-width : 600px) {
    .container.mobile {
        width: 100%;
    }
}


.card-app {
    padding: 2.5%;
    margin: 0.5rem 0 1rem 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    background-color: #fff;
}

.card-app .row {
    margin-bottom:0;
}

.card-app span .card-title {
    color: #484848;

}

.card-app:hover {
    background-color: #e4e4e4;
}


.square {
    margin-top: 100%;
}

.card-app .image-container {
    overflow: hidden;
    border-radius: 6%;
    position: relative;
    margin-left: 0%;
}



.card-app:hover .image-container {
    border-r-width: 0;
    border-color:rgba(0,0,0,0.5);
}

.crop {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    width: auto;
    height: auto;
    border-radius: 10%;


}

.card-app .image-container img {
    height:100%;
    width:auto;

    overflow: hidden;
    box-shadow: 10px 10px 5px #f5f5f5;

    display: inline-block;
    vertical-align: middle;
    background-clip: padding-box;


}

.card-app:hover .image-container img {

    opacity: 1.0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}



.app-banner {
    display: block;
    font-family:Roboto Light;
    font-size:2.7rem;
    word-wrap: break-word;
    line-height: 20%;
    -webkit-font-smoothing: antialiased;

    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;


    color: #484848;  }
@media only screen and (max-width: 600px) {
    .app-banner {
        font-size: 1.5rem;
    }
}


.card-app:hover .app-banner {
    color: #353535;
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #fff;
}

.card-app .secondary-text{
    color: #929292;
    fint-size:1rem;
    line-height:30%;
}
.card-app .info {
    font-size:1.2rem;

    bottom:10%;
    right:5%;
    position:absolute;  }
@media only screen and (max-width: 600px) {
    .card-app .info {
        font-size: 0.9rem;
    }
}


  .lobby-banner {
      display: block;
      text-align: center;
      font-family:Roboto Light;
      line-height: 120%;
      -webkit-font-smoothing: antialiased;
      color: #26a69a;
      background-image: -webkit-linear-gradient(92deg,#26a69a,#80cbc4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: hue 40s infinite linear;
  }

  .trigger {
      -webkit-animation: hue 40s infinite linear;
  }

  .trigger-text {
      color: #26a69a;
      background-image: -webkit-linear-gradient(92deg,#26a69a,#26a69a);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }


/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}
#head{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../font/glyphicons-halflings-regular.eot');
    src: url('../font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../font/glyphicons-halflings-regular.woff2') format('woff2'), url('../assets/font/glyphicons-halflings-regular.woff') format('woff'), url('../assets/font/glyphicons-halflings-regular.ttf') format('truetype'), url('../font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-ice-lolly-tasted:before {
    content: "\e232";
}
.logo{
    vertical-align: middle;
    font-size: 2.8rem;
}
.count-down-label-s{
    display: block;
    padding-top: 40%;
    font-size: 17px;
    font-weight: normal;
    text-transform: uppercase;
}
.count-down-s div {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 100;
    line-height: 1;
    text-align: right;
}
/* IE7 inline-block hack */
*+html .count-down-s div{
    display: inline;
    zoom: 1;
}
.count-down-s div:first-child {
    margin-left: 0;
}
.count-down-s div span {
    display: block;
    border-top: 1px solid #cecece;
    padding-top: 3px;
    font-size: 8px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
}
.count-down-label{
    display: block;
    padding-top: 3px;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}
.count-down div {
    display: inline-block;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 100;
    line-height: 1;
    text-align: right;
}
/* IE7 inline-block hack */
*+html .count-down div{
    display: inline;
    zoom: 1;
}
.count-down div:first-child {
    margin-left: 0;
}
.count-down div span {
    display: block;
    border-top: 1px solid #cecece;
    padding-top: 3px;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
}
.menu-s{
    background: rgba(0, 0, 0, .1);
    content: '';
    height: 50px;
    margin-top: 5px;
    position: absolute;
    width: 1px;
}
.badge {
    position:relative;
}
.badge[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:15%;
    left: 50%;
    font-size:.5rem;
    background:red;
    color:white;
    width:18px;
    height:18px;
    text-align:center;
    line-height:18px;
    box-shadow:0 0 1px #333;
}