
.padding-nav {
  padding-top: 70px;
}
.criterion-name {
      display: block;
      text-align: center;
      font-family:Roboto;
      font-size: 2rem;
      line-height: 120%;
      -webkit-font-smoothing: antialiased;
      color: #26a69a;
      background-image: -webkit-linear-gradient(92deg,#26a69a,#80cbc4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: 40s infinite linear;
  }
.pageBanner {
    font-family:Roboto Light;
    line-height: 120%;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    line-height: 3.916rem;
    margin: 1.78rem 0 1.424rem 0;
}



/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/

.slider .slides{
    background: url('../img/no_image.png') no-repeat center;
    background-size:  contain;
    height: 450px;
}
.slider .indicators .indicator-item {
    background-color: #757575 ;
}

.slider{
    height:490px;
}
