
.padding-nav {
  padding-top: 70px;
}
  .lobby-banner {
      display: block;
      text-align: center;
      font-family:Roboto Light;
      line-height: 120%;
      -webkit-font-smoothing: antialiased;
      color: #26a69a;
      background-image: -webkit-linear-gradient(92deg,#26a69a,#80cbc4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: hue 40s infinite linear;
  }
.container {
    padding: 0;
}
/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/



