@font-face{
    font-family:"Roboto Thin";
    src:url("../font/roboto/Roboto-Thin.woff2") format("woff2"),url("../font/roboto/Roboto-Thin.woff") format("woff"),url("../font/roboto/Roboto-Thin.ttf") format("truetype");
    font-weight:200;
}
@font-face{
    font-family:"Roboto Light";
    src:url("../font/roboto/Roboto-Light.woff2") format("woff2"),url("../font/roboto/Roboto-Light.woff") format("woff"),url("../font/roboto/Roboto-Light.ttf") format("truetype");
    font-weight:300;
}
@font-face{
    font-family:"Roboto Regular";
    src:url("../font/roboto/Roboto-Regular.woff2") format("woff2"),url("../font/roboto/Roboto-Regular.woff") format("woff"),url("../font/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight:400;
}
@font-face{
    font-family:"Roboto Medium";
    src:url("../font/roboto/Roboto-Medium.woff2") format("woff2"),url("../font/roboto/Roboto-Medium.woff") format("woff"),url("../font/roboto/Roboto-Medium.ttf") format("truetype");
    font-weight:500;
}
@font-face{
    font-family:"Roboto Bold";
    src:url("../font/roboto/Roboto-Bold.woff2") format("woff2"),url("../font/roboto/Roboto-Bold.woff") format("woff"),url("../font/roboto/Roboto-Bold.ttf") format("truetype");
    font-weight:700;
}
.padding-nav {
  padding-top: 70px;
}
.criterion-name {
      display: block;
      text-align: center;
      font-family:Roboto;
      font-size: 2rem;
      line-height: 120%;
      -webkit-font-smoothing: antialiased;
      color: #26a69a;
      background-image: -webkit-linear-gradient(92deg,#26a69a,#80cbc4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: hue 40s infinite linear;
  }

.trigger {
    -webkit-animation: hue 40s infinite linear;
}

.trigger-text {
    color: #26a69a;
    background-image: -webkit-linear-gradient(92deg,#26a69a,#80cbc4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pageBanner {
    font-family:Roboto Light;
    line-height: 120%;
    -webkit-font-smoothing: antialiased;
}



/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}
#head{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.slider .slides{
    background: url('../img/no_image.png') no-repeat center;
    background-size:  contain;
    height: 450px;
}
@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../font/glyphicons-halflings-regular.eot');
    src: url('../font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../font/glyphicons-halflings-regular.woff2') format('woff2'), url('../assets/font/glyphicons-halflings-regular.woff') format('woff'), url('../assets/font/glyphicons-halflings-regular.ttf') format('truetype'), url('../font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-ice-lolly-tasted:before {
    content: "\e232";
}
.logo{
    vertical-align: middle;
    font-size: 2.8rem;
}
.slider{
    height:490px;
}
