
.padding-nav {
  padding-top: 70px;
}
  .lobby-banner {
      display: block;
      text-align: center;
      font-family:Roboto Light;
      line-height: 120%;
      -webkit-font-smoothing: antialiased;
      color: #333;
  }
.container {
    padding: 0;
}
/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/



