.rating-star {
    background: url("/assets/img/stars.png") repeat-x 0 0;
    width: 150px;
    margin: 0 auto;
}
.rating-star input[type="radio"] {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
}
.rating-star input[type="checkbox"]+label:before, .rating-star input[type="radio"]+label:after{
    content: normal;
}
.rating-star input[type="checkbox"].star-5:checked ~ span {
    width: 100%;
}
.rating-star input[type="checkbox"].star-4:checked ~ span {
    width: 80%;
}
.rating-star input[type="checkbox"].star-3:checked ~ span {
    width: 60%;
}
.rating-star input[type="checkbox"].star-2:checked ~ span {
    width: 40%;
}
.rating-star input[type="checkbox"].star-1:checked ~ span {
    width: 20%;
}
.rating-star label {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0!important;
    padding: 0!important;
    text-indent: -999em;
    float: left;
    position: relative;
    z-index: 10;
    background: transparent!important;
    cursor: pointer;
}
.rating-star label:hover ~ span {
    background-position: 0 -30px;
}
.rating-star label.star-5:hover ~ span {
    width: 100% !important;
}
.rating-star label.star-4:hover ~ span {
    width: 80% !important;
}
.rating-star label.star-3:hover ~ span {
    width: 60% !important;
}
.rating-star label.star-2:hover ~ span {
    width: 40% !important;
}
.rating-star label.star-1:hover ~ span {
    width: 20% !important;
}
.rating-star span {
    display: block;
    width: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    background: url("/assets/img/stars.png") repeat-x 0 -60px;
    -webkit-transition: -webkit-width 0.5s;
    -moz-transition: -moz-width 0.5s;
    -ms-transition: -ms-width 0.5s;
    -o-transition: -o-width 0.5s;
    transition: width 0.5s;
}



.trigger {
    -webkit-animation: hue 40s infinite linear;
}

.trigger-text {
    color: #26a69a;
    background-image: -webkit-linear-gradient(92deg,#26a69a,#80cbc4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pageBanner {
    font-family:Roboto Light;
    line-height: 120%;
    -webkit-font-smoothing: antialiased;
}



/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}