

.criterion-banner {
    display: block;
    text-align: center;
    font-family:Roboto Light;
    line-height: 120%;
    -webkit-font-smoothing: antialiased;
    color: #26a69a;
    background-image: -webkit-linear-gradient(92deg,#26a69a,#80cbc4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 40s infinite linear;
}

.topic-banner {
    font-family:Roboto;
    line-height: 120%;
    -webkit-font-smoothing: antialiased;
    color: #26a69a;
    background-image: -webkit-linear-gradient(92deg,#26a69a,#80cbc4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 40s infinite linear;
}


.collapsible-container {
    padding: 1.5rem 1.0rem;
    margin: 0 auto;
    max-width: 1280px;
    width: 95%;
}



.progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: #acece6;
    -webkit-animation: hue 40s infinite linear;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden; }
.progress .determinate {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: #26a69a;
    -webkit-transition: width 0.3s linear;
    -moz-transition: width 0.3s linear;
    -o-transition: width 0.3s linear;
    -ms-transition: width 0.3s linear;
    transition: width 0.3s linear; }



.trigger {
    -webkit-animation: hue 40s infinite linear;
}

.trigger-text {
    color: #26a69a;
    background-image: -webkit-linear-gradient(92deg,#26a69a,#80cbc4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pageBanner {
    font-family:Roboto Light;
    line-height: 120%;
    -webkit-font-smoothing: antialiased;
}



/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}