@(currentUser: User)(currentProject: Project)(members: List[User])(images: List[ProjectImage])
@num = @{
    0
}
<!DOCTYPE html>
<html>
    <head>
        <title>Exceed Vote</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/editproject.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/upload.css")">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>
    <body>
        <nav class="teal lighten-1 trigger large" id="head">
            <div class="container">
                <div class="nav-wrapper">
                    <a class="brand-logo hide-on-small-only"><img class="responsive-img" style="margin-top : 7 px ;" src="@routes.Assets.at("img/logo.png")" width="45%" height="45%" /></a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                    <div class="center">
                        <ul class="right hide-on-med-and-down">
                            <li><a href="../rateproject/@currentProject.id"><i class="medium mdi-navigation-arrow-back left"></i>
                                Back</a></li>
                            <li><a href="../logout"><i class="medium mdi-action-settings-power left"></i>
                                Logout</a></li>
                        </ul>
                        <ul class="side-nav" id="mobile-demo" style="margin-right : - 40 px ;">
                            <li><a href="../rateproject/@currentProject.id"><i class="medium mdi-navigation-arrow-back left"></i>
                                Back</a></li>
                            <li><a href="../logout"><i class="medium mdi-action-settings-power left"></i>
                                Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <br/>
        <br/>
        <br/>
        <div class="container">
            <div class="card-panel grey lighten-5 z-depth-1">
                <h4 class="trigger-text trigger pageBanner hide-on-small-only">Project Detail</h4>
                <h4 class="trigger-text trigger pageBanner center-align hide-on-med-and-up">Project Detail</h4>
                <form action="../editproject/@currentProject.id" method="post">
                    <div class="input-field col s12 hide-on-small-only">
                        <i class="mdi-action-account-circle prefix"></i>
                        <input id="projectName" type="text" class="validate" value="@currentProject.projectName" name="projectName">
                        <label for="projectName">Project Name</label>
                    </div>
                    <div class="input-field col s12 hide-on-med-and-up">
                        <input id="projectName" type="text" class="validate" value="@currentProject.projectName" name="projectName">
                        <label for="projectName">Project Name</label>
                    </div>
                    <div class="input-field col s12 hide-on-small-only">
                        <div class="toolbar">
                            <a onClick="$ ( '#project_description' ).mdBold ( )" class="btn waves-effect waves-light cyan darken-3"><i class="mdi-editor-format-bold"></i></a>
                            <a onClick="$ ( '#project_description' ).mdItalic ( )" class="btn waves-effect waves-light cyan darken-3" ><i class="mdi-editor-format-italic"></i></a>
                            <a onClick="$ ( '#project_description' ).mdHeader ( { number : 1 } )" class="btn waves-effect waves-light cyan darken-3">
                                H1</a>
                            <a onClick="$ ( '#project_description' ).mdHeader ( { number : 2 } )" class="btn waves-effect waves-light cyan darken-3">
                                H2</a>
                            <a onClick="$ ( '#project_description' ).mdHeader ( { number : 3 } )" class="btn waves-effect waves-light cyan darken-3">
                                H3</a>
                            <a onClick="$ ( '#project_description' ).mdHeader ( { number : 4 } )" class="btn waves-effect waves-light cyan darken-3">
                                H4</a>
                            <a onClick="$ ( '#project_description' ).mdLink ( { default_url : prompt ( 'Enter URL please' ) } )" class="btn waves-effect waves-light cyan darken-3"><i class="mdi-editor-insert-link"></i></a>
                            <a onClick="$ ( '#project_description' ).mdQuote ( )" class="btn waves-effect waves-light cyan darken-3"><i class="mdi-editor-format-quote"></i></a>
                            <a onClick="$ ( '#project_description' ).mdCode ( )" class="btn waves-effect waves-light cyan darken-3"><i class="mdi-editor-mode-edit"></i></a>
                            <a onClick="$ ( '#project_description' ).mdNumberedList ( )" class="btn waves-effect waves-light cyan darken-3"><i class="mdi-editor-format-list-numbered"></i></a>
                            <a onClick="$ ( '#project_description' ).mdBulletList ( )" class="btn waves-effect waves-light cyan darken-3"><i class="mdi-editor-format-list-bulleted"></i></a>
                        </div>
                        <i class="mdi-editor-mode-edit prefix hide-on-small-only"></i>
                        <textarea id="project_description" placeholder="Enter project descrption..." name="description" class="materialize-textarea" length="2000" maxlength="2000" style="resize : none ; overflow-y : scroll ; height : 190 px ; max-height : 190 px ;" required>@currentProject.projectDescription</textarea>
                        <label for="project_description">Description</label>
                    </div>
                    <div class="input-field col s12 hide-on-med-and-up">
                        <textarea id="project_description" placeholder="Enter project descrption..." name="description" class="materialize-textarea" length="2000" maxlength="2000" style="resize : none ; overflow-y : scroll ; height : 190 px ; max-height : 190 px ;" required>@currentProject.projectDescription</textarea>
                        <label for="project_description">Description</label>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Save
                                <i class="mdi-content-send right"></i>
                            </button>
                            <h5 class="hide-on-med-and-up"></h5>
                            @if(currentUser.idtype == User.ADMINISTRATOR) {
                                <a class="btn waves-effect waves-light red darken-2 modal-trigger" href="#confirmDelete" >
                                    Delete
                                    <i class="mdi-content-clear right"></i>
                                </a>
                            }
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row">
                    <div class="col s12">
                        <h4 class="trigger-text trigger pageBanner hide-on-small-only">Project Screen Shot</h4>
                        <h5 class="trigger-text trigger pageBanner hide-on-med-and-up center-align">
                            Project Screen Shot</h5>
                        <div class="upload" proId="@currentProject.id"></div>
                        <div id="process-bar"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="slider">
                        <ul class="slides" id="show-slides" projectId="@currentProject.id">
                        @images.map { img =>
                            <li>
                                <img src="../getimg/@img.Id">
                                <div class="caption right-align">
                                    <div class="row">
                                    @if(img.imgType != ProjectImage.DEFAULT) {
                                        <a class="waves-effect waves-light btn blue" href="@routes.Application.setImgDefault(img.Id,currentProject.id)"><i class="mdi-toggle-check-box right"></i>
                                            Set Default</a>
                                    }else{
                                        <a class="waves-effect waves-light btn disabled"><i class="mdi-toggle-check-box right"></i>
                                            Default</a>
                                    }
                                    </div>
                                    <div class="row">
                                        <a class="waves-effect waves-light btn red" href="@routes.Application.deleteImg(img.Id,currentProject.id)"><i class="mdi-navigation-close right"></i>
                                            Delete</a>
                                    </div>
                                </div>
                            </li>
                        }
                        </ul>
                    </div>
                    <blockquote>
                        <strong>Default</strong> screenshot will show in Project List page only .
                        <strong>Limit number of screenshot</strong> is 10 pictures / project.
                        <strong>Limit size of screenshot</strong> is 500 Kb / file.
                    </blockquote>
                </div>
            </div>
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="show-on-medium-and-up hide-on-small-only">
                    <h4 class="trigger-text trigger pageBanner">Member List</h4>
                    <table class="hoverable">
                        <thead>
                            <tr>
                                <th data-field="id" width="45%">First Name</th>
                                <th data-field="name" width="45%">Last Name</th>
                                <th data-field="price" width="10%">Delte</th>
                            </tr>
                        </thead>
                        <tbody>
                            @members.map { member =>
                                <tr>
                                    <td><code class=" language-markup">@member.firstname</code></td>
                                    <td><code class=" language-markup">@member.lastname</code></td>
                                    <td><code class=" language-markup">@if(currentUser.id != member.id) {
                                        <a class="btn-floating waves-effect waves-light red" href="../editproject/delete/@member.id/@currentProject.id"><i class="mdi-content-clear"></i></a>
                                    } else {
                                        <div class="btn-floating waves-effect waves-light disabled"><i class="mdi-content-clear"></i></div>
                                    }
                                    </code></td>
                                </tr>
                            }
                            @if(members.size == 0) {
                                <tr>
                                    <td><code class=" language-markup"><i>Member is empty.</i></code></td>
                                    <td><code class=" language-markup"></code></td>
                                    <td><code class=" language-markup"></code></td>
                                </tr>
                            }
                            <tr><form action="../editproject/addmember/@currentProject.id" method="post">
                                <td>
                                    <code class=" language-markup"><h5>Add new member</h5>
                                        <blockquote>
                                            Input the User ID or search the user by input <br />
                                            firstname / lastname, then select the specified user.
                                        </blockquote>
                                    </code>
                                </td>
                                <td>
                                    <code class=" language-markup">
                                        <div class="input-field">
                                            <input id="searchUser" type="text" class="validate" name="searchUser" placeholder="Input first name or last name for search.">
                                            <label for="user">User ID</label>
                                            <div id='show-result'></div>
                                        </div>
                                    </code>
                                </td>
                                <td>
                                    <code class=" language-markup">
                                        <button class="btn waves-effect waves-light btn-floating green" type="submit" name="action">
                                            <i class="mdi-content-add"></i>
                                        </button>
                                    </code>
                                </td>
                            </form>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="show-on-small hide-on-med-and-up">
                    <div class="row center-align">
                        <div class="col s12">
                            <h5>Member List</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <table class="hoverable">
                                <tbody>
                                    @members.map { member =>
                                        <tr>
                                            <td>
                                                @if(currentUser.id != member.id) {
                                                    <a class="btn-floating waves-effect waves-light red" href="../editproject/delete/@member.id/@currentProject.id"><i class="mdi-content-clear"></i></a>
                                                } else {
                                                    <div class="btn-floating waves-effect waves-light disabled"><i class="mdi-content-clear"></i></div>
                                                }
                                            </td>
                                            <td>
                                                @member.firstname <br/> @member.lastname
                                            </td>
                                        </tr>
                                    }
                                    @if(members.size == 0) {
                                        <tr><td>
                                            <i>Member is empty.</i>
                                        </td></tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <form action="../editproject/addmember/@currentProject.id" method="post">
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <input id="searchUser" type="text" class="validate" name="searchUser" placeholder="Input first name or last name for search.">
                                    <label for="user">Add new member.</label>
                                    <div id='show-result'></div>
                                </div>
                            </div>
                            <div class="col s12 center-align">
                                <button class="btn waves-effect waves-light green" type="submit" name="action">
                                    <i class="mdi-content-add"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col s12">
                            <blockquote>
                                Input the User ID or search the user by input firstname / lastname, then select the specified user.
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- FOLATING BUTTON -->
        <div class="fixed-action-btn animated bounceInUp" style="bottom : 45 px ; right : 40 px ;">
            <a class="btn-floating btn-large trigger" href="..">
                <i class="large mdi-action-home waves-effect waves-light"></i>
            </a>
            <ul>
                <li><a class="btn-floating green " href="../logout"><i class="large mdi-action-settings-power"></i></a></li>
            </ul>
        </div>
            <!-- Modal Structure -->
        <div id="confirmDelete" class="modal">
            <div class="modal-content">
                <h4>Are you sure you want to delete this project?</h4>
                <p>This will delete project data, screen shot, rate/vote of this project and remove all member in this project.</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                <form action="@routes.EditProject.deleteProject()" method="post">
                    <input type="hidden" value="@currentProject.id" name="projectId" />
                    <button href="@routes.EditProject.deleteProject()" class=" modal-action modal-close waves-effect waves-green btn-flat" type="submit">
                        Delete</button>
                </form>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
        <script src="@routes.Assets.at("javascripts/init.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-markdown.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/editproject.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/core.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/upload.js")" type="text/javascript"></script>
        @if(flash.contains("up_success")) {
            <script type="text/javascript">
            Materialize.toast ( '<i class="mdi-file-cloud-upload green-text small"></i><span style="padding-left: 5px">@flash.get("success") </span>', 4000)
            </script>
        }
        @if(flash.contains("success")) {
            <script type="text/javascript">
            Materialize.toast ( '<i class="mdi-action-done green-text small"></i><span style="padding-left: 5px">@flash.get("success")</span> ', 4000)
            </script>
        }
        @if(flash.contains("error")) {
            <script type="text/javascript">
            Materialize.toast ( '<i class="mdi-alert-warning red-text small"></i><span style="padding-left: 5px">@flash.get("error") </span>' , 4000)
            </script>
        }
    </body>
</html>