@(projects: List[Project])(ratingCriteria: List[RateCriterion])(mappedRates: Map[Long, Integer])(projectsLeft: Integer)(votesLeft: Integer)(percent: Integer)(currentUser: User)(comments: List[Inbox])
@import java.math.BigInteger; var criteriaLeft = 0; var numOfUnread = Inbox.findNumOfUnreadByReceiver(currentUser); var progress = (percent / 100.0);

@tmp(currentUser, comments) {

	@*animated fadeIn*@
    <div class="bg">
        <div id="index-banner" class="container status page">
            <div class="row">
                <div class="col-sm-8 col-md-8 block info animated fadeInDown">
                @if(votesLeft + projectsLeft == 0) {
                    <h1 class="flow-text teal-text"><b>Congratulation!</b></h1>
                    <p class="flow-text">You have successfully completed the eXceed Vote.</p>
                } else {
                    <h1 class="teal-text hide-on-large-only">Welcome</h1>
                    @if(votesLeft == 0 || projectsLeft == 0) {
                        <p class="flow-text">You need only 1 more step to complete the eXceed vote</p>
                    } else {
                        <p class="flow-text">There are 2 more steps left to complete the eXceed vote</p>
                    }
                }
                </div>
                <div class="col-sm-4 col-md-4 block">
                    <div class="progress-padding">
                        <div class="progress-circle" id="progress-circle" value="@progress"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 block text-center">
                    <div class="to-vr-card animated fadeInDown">
                    @if(Setting.isTimeUp()) {
                        <a link-to="@routes.RateCalculator.index()" href="#project-list">
                            <div class="center promo promo-example">
                                <p class="promo-caption flow-text"><img src="@routes.Assets.at("img/trophy.svg")" height="50" widtgh="50"></p>
                                <label>Rate Result</label>
                            </div>
                        </a>
                    } else {
                        <a href="@routes.RateCalculator.index()">
                            <div class="center promo promo-example">
                            @if(projectsLeft == 0) {
                                <h2 class="promo-caption flow-text">
                                    <i class="teal-text badge mdi-action-done"></i>
                                    Rate
                                </h2>
                                <p class="pink-text darken-2 light center">COMPLETED</p>
                            } else {
                                <h2 class="promo-caption flow-text"><i class="badge mdi-action-grade"></i>
                                    Rate
                                </h2>
                                @if(projectsLeft == 1) {
                                    <p class="orange-text darken-2 light center">1 project left</p>
                                }
                                @if(projectsLeft > 1) {
                                    <p class="orange-text darken-2 light center">@projectsLeft projects left</p>
                                }
                            }
                            </div>
                        </a>
                    }
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 block text-center">
                    <div class="to-vr-card animated fadeInDown">
                    @if(Setting.isTimeUp()) {
                        <a href="@routes.VoteController.showResult()">
                            <div class="center promo promo-example">
                                <p class="promo-caption flow-text"><img src="@routes.Assets.at("img/trophy.svg")" height="50" widtgh="50"></p>
                                <p class="center">Vote Result</p>
                            </div>
                        </a>
                    } else {
                        <a href="@routes.VoteController.index()">
                            <div class="center promo promo-example">
                            @if(votesLeft == 0) {
                                <h2 class="promo-caption flow-text"><i class="teal-text badge mdi-action-done"></i>
                                    Vote
                                </h2>
                                <p class="pink-text darken-2 light center">COMPLETED</p>
                            } else {
                                <h2 class="promo-caption flow-text"><i class="badge mdi-editor-insert-chart"></i>
                                    Vote
                                </h2>
                                @if(votesLeft == 1) {
                                    <p class="orange-text darken-2 light center">1 criterion left</p>
                                }
                                @if(votesLeft > 1) {
                                    <p class="orange-text darken-2 light center">@votesLeft criteria left</p>
                                }
                            }
                            </div>
                        </a>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div id="project-list" class="container page">
				<!-- Page Content goes here -->
        @projects.map { project =>
            @{
                criteriaLeft = ratingCriteria.size - mappedRates.get(project.getId)
            }
            <div class="row animated fadeIn">
                <div class="col-sm-12 block">
                    <a href="@routes.RateProject.index(project.getId)">
                        <div class="project-card animated fadeInDown">

                            <div class="col-sm-7 col-md-7 img-slope" style="background-image:url(@Image.getUrlDefaultImage(project))">
                                @*<img src="@Image.getUrlDefaultImage(project)" alt="" style="width: 100%; height: auto;">*@
                            </div>

                            <div class="col-sm-5 col-md-5 project-info">

                                <h2>@project.getProjectName</h2>

                                @if(mappedRates.get(project.getId) == 0) {
                                    <div class="undone">
                                        NOT YET RATED
                                    </div>
                                } @if(criteriaLeft == 1 && ratingCriteria.size > 1) {
                                    <div class="done">
                                        <i class="mdi-action-done"></i>
                                        1 CRITERION LEFT
                                    </div>
                                } @if(criteriaLeft > 1 && criteriaLeft < ratingCriteria.size) {
                                    <div class="done">
                                        <i class="mdi-action-done"></i> @criteriaLeft
                                        CRITERIA LEFT
                                    </div>
                                } @if(criteriaLeft == 0 && ratingCriteria.size > 0) {
                                    <div class="done-all">
                                        <i class="mdi-action-done-all"></i>
                                        COMPLETED
                                    </div>
                                }
                            </div>

                        </div>
                    </a>
                </div>
            </div>
        }
	</div>
	<!-- End of Page Content -->

    <div class="page"></div>

	<div class="fixed-action-btn animated bounceInUp">
		<a class="btn-floating linkable btn-large trigger" href="@routes.Application.index()" link-to="#index-banner">
			<i class="large mdi-hardware-keyboard-arrow-up waves-effect waves-light"></i>
		</a>
	</div>
} {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/projectlist.css")">
} {
	<script src="@routes.Assets.at("javascripts/projectlist.js")" type="text/javascript"></script>
}