@(user: User)(project: Project)(thisRate: List[Rate])(criterias: List[RateCriterion])(images: List[Image])(teamMember: List[User])(thisComment: Comment)(time : String)(setting: Map[String, String])
    @import java.math.BigInteger; var isRate = false; var numOfUnread = Inbox.findNumOfUnreadByReceiver(user); var comments = Inbox.findAllByReceiver(user);
    @canRate = @{
        import java.util.Calendar
        import java.text.SimpleDateFormat

        val today = Calendar.getInstance.getTime
        val curTimeFormat = new SimpleDateFormat("MM-d-y HH:mm")
        val stopTime = curTimeFormat.parse(setting.get("stopTime").toString)

        today.before(stopTime)
    }

@tmp(user, comments){
    <div class="container page">
        <div class="animated fadeInDown">
            <div style="margin: 1.78rem 0 1.424rem 0;">
                <span class="pageBanner" style="font-size: 3.56rem;">@project.getProjectName</span>
            </div>
        </div>
        @if(images.size != 0) {
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                <ol class="carousel-indicators">
                @images.zipWithIndex.map { case (image, index) =>
                    <li data-target="#carousel-example-generic" data-slide-to="@index" class="@if(index == 0) {active}"></li>
                }
                </ol>

                    <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                @images.zipWithIndex.map { case (image, index) =>
                    <div class="item @if(index == 0) {active}" style="height: 450px; background-image: url(@routes.Application.getImg(image.getId)); background-size : auto 450px ; background-position : center; background-repeat : no-repeat ;"></div>
                }
                </div>
                    <!-- Controls -->
                <a class="left carousel-control new-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control new-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        }
        <div class="animated fade in">
            <div class="vote-card">
                <div class="projectDescription" data="@project.getProjectDescription"></div>
            </div>
        </div>
        @if(canRate) {
            @if(thisRate.size == 0 && thisComment == null) {
                <div class="vote-card">
                    <div class="row">
                        <div class="input-field col-sm-12">
                            <form action="/rateproject" method="post">
                                <div class="input-field col-sm-12">
                                    <input id="projectId" type="hidden" name="projectId" value="@project.getId">
                                    <input id="userId" type="hidden" name="userId" value="@user.getId">
                                    <input id="type" type="hidden" name="type" value="1">
                                    @criterias.map { criteria =>
                                        <input id="@criteria.getId" type="hidden" name="@criteria.getId" value="0">
                                        <div class = "row" id="rating">
                                            <div class = "col-sm-12 text-center">@criteria.getName</div>
                                            <div class="divider container"></div> <br>
                                            <div class = "col-sm-12 text-center">
                                                @for(index <- 1 until 6) {
                                                    <div id="@criteria.getId" class="waves-effect waves-teal btn btn-flat btn-floating btn-large " name="criteriaButton" score="@index">@index</div>
                                                }
                                                <div id="@criteria.getId" class="waves-effect waves-red btn btn-flat btn-floating red" name="criteriaButtonRemove" score="0"><i class="mdi-navigation-close"></i></div>
                                            </div>
                                        </div>
                                    }
                                    <div class="row">
                                        <div class="input-field col-sm-12 text-center">
                                            <textarea id="textarea1" class="materialize-textarea " name="comment" length="255" placeholder="Give Project Feedback" ></textarea>
                                            <label for="textarea1">Comment</label>
                                        </div>
                                    </div>
                                    <div class="row center text-center">
                                    <button type="submit" class="rate-btn">
                                        <i class="mdi-action-thumb-up right"></i>
                                        Rate
                                    </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            } else {
                <div class="vote-card">
                    <div class="row">
                        <div class="input-field col-sm-12">
                            <form action="/rateproject/edit" method="post">
                                <input id="projectId" type="hidden" name="projectId" value="@project.getId">
                                <input id="userId" type="hidden" name="userId" value="@user.getId">
                                <input id="type" type="hidden" name="type" value="1">
                                <input id="score" type="hidden" name="score" value="1">
                                @criterias.map { criteria =>
                                    <div class = "row" id="rating">
                                        @(isRate = false)
                                        @thisRate.map { rate =>
                                            @if(rate.getCriterion.getId == criteria.getId) {
                                                @(isRate = true)
                                                <input id="@rate.getCriterion.getId" type="hidden" name="@rate.getCriterion.getId" value="@rate.getScore">
                                                <div class = "col-sm-12 text-center">@criteria.getName</div>
                                                <div class="divider container"></div> <br>
                                                <div class="row">
                                                    <div class="col-sm-12 text-center">
                                                        @for(index <- 1 until 6) {
                                                            @if(rate.getScore == index) {
                                                                <div id="@rate.getCriterion.getId" class=" waves-effect waves-teal btn btn-large btn-floating " name="criteriaButton" score="@index">@index</div>
                                                            } else {
                                                                <div id="@rate.getCriterion.getId" class=" waves-effect waves-teal btn btn-large btn-flat btn-floating " name="criteriaButton" score="@index">@index</div>
                                                            }
                                                        }
                                                        <div id="@criteria.getId" class="waves-effect waves-red btn btn-floating red" name="criteriaButtonRemove" score="0"><i class="mdi-navigation-close"></i></div>
                                                    </div>
                                                </div>

                                            }
                                        }
                                        @if(isRate == false) {
                                            <input id="@criteria.getId" type="hidden" name="@criteria.getId" value="0">
                                            <div class = "row" id="rating">
                                                <div class = "criterion-name col s12 center trigger-text ">@criteria.getName</div>
                                                <div class="divider container"></div><br>
                                                <div class = "col-sm-12 text-center">
                                                    @for(index <- 1 until 6) {
                                                        <div id="@criteria.getId" class="waves-effect waves-teal btn btn-flat btn-floating btn-large " name="criteriaButton" score="@index">@index</div>
                                                    }
                                                    <div id="@criteria.getId" class="waves-effect waves-red btn btn-floating red" name="criteriaButtonRemove" score="0"><i class="mdi-navigation-close"></i></div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                    @if(thisComment != null) {
                                        <textarea id="textarea1" class="materialize-textarea " name="comment" length="255" placeholder="Give Project Feedback">@thisComment.getComment</textarea>
                                    } else {
                                        <textarea id="textarea1" class="materialize-textarea " name="comment" length="255" placeholder="Give Project Feedback"></textarea>
                                    }
                                    <label for="textarea1">Comment</label>
                                    </div>
                                </div>
                                <div class="row center text-center">
                                    <button type="submit" class="rate-btn">
                                        <i class="mdi-action-thumb-up right"></i>
                                        Update
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }
        <div class="vote-card">
            <h5>Project Members</h5>
            <ul>
                @teamMember.map { member =>
                    <li>
                    @member.getFirstname() @member.getLastname()
                    </li>
                }
            </ul>
        </div>
    </div>
}{
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/rateproject.css")">
}{
    <script src="@routes.Assets.at("javascripts/rateproject.js")" type="text/javascript"></script>
}