@(user : User)(projects: List[Project])(voteMapping: Map[VoteCriterion,Long])(criteria: List[VoteCriterion])
@import java.math.BigInteger; var selected = 0; var numOfUnread = Inbox.findNumOfUnreadByReceiver(user); var comments = Inbox.findAllByReceiver(user);

@tmp(user, comments) {
        <div class="container vote page">
            <div class="animated fadeInDown">
                <h2 class="text-center"> Vote your Best</h2>
            </div>

            <div class="divider"></div>

            <div class="row">
            @if(!Setting.isTimeUp()) {
                @if(voteMapping.isEmpty) {
                    <form action="@routes.VoteController.addVote()" method="post">
                        @criteria.map { criterion =>
                            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12 animated flipInX">
                                <div class="vote-card">
                                    <h2 class="trigger-text ">@criterion.getName</h2>
                                    <p>
                                    @criterion.getDescription
                                    </p>
                                    <div class="row">
                                        @projects.map { project =>
                                            <p>
                                                <input value="@project.getId" name="criterionId@criterion.getId" type="radio" id="@criterion.getId-@project.getId" />
                                                <label for="@criterion.getId-@project.getId">@project.getProjectName</label>
                                            </p>
                                        }
                                        <input value="-1" name="criterionId@criterion.getId" type="radio" id="@criterion.getId-novote" />
                                        <label for="@criterion.getId-novote">No vote</label>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="section"></div>

                        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12 vote-btn text-center animated flipInX">
                            <button type="submit" class="btn btn-primary">
                                <i class="mdi-action-thumb-up right"></i>
                                Vote
                            </button>
                        </div>
                    </form>
                } else {
                    <form action="@routes.VoteController.editVote()" method="post">
                        @criteria.map { criterion =>
                            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12 animated flipInX">
                                <div class="vote-card">
                                    <h2 >@criterion.getName</h2>
                                    <p>
                                    @criterion.getDescription
                                    </p>
                                    @projects.map { project =>
                                        <p>
                                            @if(voteMapping.get(criterion) == project.getId) {
                                                <input class="with-gap" value="@project.getId" name="criterionId@criterion.getId" type="radio" id="@criterion.getId-@project.getId" checked/>
                                                <label for="@criterion.getId-@project.getId">@project.getProjectName</label>
                                            } else {
                                                <input class="with-gap" value="@project.getId" name="criterionId@criterion.getId" type="radio" id="@criterion.getId-@project.getId"/>
                                                <label for="@criterion.getId-@project.getId">@project.getProjectName</label>
                                            }
                                        </p>
                                    }
                                    @if(voteMapping.get(criterion) == -1) {
                                        <input class="with-gap" value="-1" name="criterionId@criterion.getId" type="radio" id="@criterion.getId-novote" checked />
                                        <label for="@criterion.getId-novote">No vote</label>
                                    } else {
                                        <input class="with-gap" value="-1" name="criterionId@criterion.getId" type="radio" id="@criterion.getId-novote" />
                                        <label for="@criterion.getId-novote">No vote</label>
                                    }
                                </div>
                            </div>
                        }

                        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12 vote-btn text-center animated flipInX">
                            <button type="submit" class="btn btn-primary">
                                <i class="mdi-action-thumb-up right"></i>
                                Edit
                            </button>
                        </div>
                    </form>
                }
            } else {
                <form action="@routes.VoteController.editVote()" method="post">
                    @criteria.map { criterion =>
                        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12 animated flipInX">
                            <div class="vote-card">
                                <h2>@criterion.getName</h2>
                                <p>
                                @criterion.getDescription
                                </p>
                                @projects.map { project =>
                                    <p>
                                        @if(voteMapping.get(criterion) == project.getId) {
                                            <input disabled class="with-gap" value="@project.getId" name="criterionId@criterion.getId" type="radio" id="@criterion.getId-@project.getId" checked/>
                                            <label for="@criterion.getId-@project.getId">@project.getProjectName</label>
                                        } else {
                                            <input disabled class="with-gap" value="@project.getId" name="criterionId@criterion.getId" type="radio" id="@criterion.getId-@project.getId"/>
                                            <label for="@criterion.getId-@project.getId">@project.getProjectName</label>
                                        }
                                    </p>
                                }
                                @if(voteMapping.get(criterion) == -1) {
                                    <input disabled class="with-gap" value="-1" name="criterionId@criterion.getId" type="radio" id="@criterion.getId-novote" checked />
                                    <label for="@criterion.getId-novote">No vote</label>
                                } else {
                                    <input disabled class="with-gap" value="-1" name="criterionId@criterion.getId" type="radio" id="@criterion.getId-novote" />
                                    <label for="@criterion.getId-novote">No vote</label>
                                }
                            </div>
                        </div>
                    }

                    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12 vote-btn text-center animated flipInX">
                        <button disabled type="submit" class="btn btn-block">
                            <i class="mdi-action-thumb-up right"></i>
                            Time is already up
                        </button>
                    </div>
                </form>
            }
            </div>
        </div>


}{
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/votepage.css">
}{

}