@(user: User)(criteria: List[VoteCriterion])(projects: List[Project])(winnerSummary: Map[VoteCriterion,List[Vote.ResultBundle]])(orderedSummary: Map[VoteCriterion,List[Vote.ResultBundle]])(noVoteMapping : Map[VoteCriterion,Vote.ResultBundle])
@import java.util
@import models.Vote.ResultBundle
@import java.math.BigInteger; var totalVotes = 0; var numOfUnread = Inbox.findNumOfUnreadByReceiver(user); var comments = Inbox.findAllByReceiver(user);

@main(user, comments){
    <div class="container padding-nav" style="padding-top: 64px;">
        <div class="animated fadeInDown">
            <h4 class="trigger-text  pageBanner center-align">Voting Result</h4>
        </div>
        <div class="section animated fadeIn">
            @if(criteria.size == 0) {
                <div class="center-align flow-text">It's lonely here.</div>
                <h5 class="center-align">There is no voting criterion.</h5>
            } else {
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header trigger-text "><i class="mdi-action-grade"></i>
                            Show Winner</div>
                        <div class="collapsible-body" style="background: #FFFFFF !important;">
                            <div class="collapsible-container">
                                <table class="hoverable centered">
                                    <thead>
                                        <tr>
                                            <th class="topic-banner flow-text" data-field="project_name">Criterion</th>
                                            <th class="topic-banner flow-text" data-field="score_percent">Winner</th>
                                            <th class="topic-banner flow-text" data-field="score_sum">Votes</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                    @criteria.map { criterion =>
                                        <tr>
                                            <td class="flow-text">@criterion.getName</td>
                                            <td class="flow-text">
                                            @if(winnerSummary.get(criterion).size > 1) {
                                                @winnerSummary.get(criterion).map { eachWinner =>
                                                    <div>@eachWinner.project.getProjectName</div>
                                                }
                                            } else {
                                                @winnerSummary.get(criterion)(0).project.getProjectName
                                            }
                                            </td>
                                            <td class="flow-text">@winnerSummary.get(criterion)(0).sum</td>
                                        </tr>
                                    }

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </li>
                </ul>

                @criteria.map { criterion =>
                    @{
                        totalVotes = orderedSummary.get(criterion).get(0).asInstanceOf[Vote.ResultBundle].totalVotes
                    }
                <div class="card-panel">
                    <h4 class="center-align criterion-banner">@criterion.getName</h4>
                    <table class="hoverable centered">
                        <thead>
                            <tr>
                                <th class="topic-banner flow-text" data-field="project_name">Project Name</th>
                                <th class="topic-banner flow-text" data-field="score_percent">Percent</th>
                                <th class="topic-banner flow-text" data-field="score_sum">Total Votes (@totalVotes)</th>
                            </tr>
                        </thead>

                        <tbody>

                        @orderedSummary.get(criterion).map { orderedBundle =>
                            <tr>
                                <td class="flow-text">@orderedBundle.asInstanceOf[Vote.ResultBundle].project.getProjectName</td>
                                <td class="flow-text">
                                    <div class="progress ">
                                        <div class="determinate" style="width : @orderedBundle.asInstanceOf[Vote.ResultBundle].roundedPercent%"></div>
                                    </div>
                                    @orderedBundle.asInstanceOf[Vote.ResultBundle].roundedPercent %

                                </td>
                                <td class="flow-text">@orderedBundle.asInstanceOf[Vote.ResultBundle].sum</td>
                            </tr>
                        }
                        <tr>
                            <td class="flow-text grey-text darken-2"><i class="mdi-av-mic-off"></i> @noVoteMapping.get(criterion).asInstanceOf[Vote.ResultBundle].project.getProjectName</td>
                            <td class="flow-text grey-text darken-2">
                                <div class="progress ">
                                    <div class="determinate" style="width : @noVoteMapping.get(criterion).asInstanceOf[Vote.ResultBundle].roundedPercent%"></div>
                                </div>
                                @noVoteMapping.get(criterion).asInstanceOf[Vote.ResultBundle].roundedPercent %

                            </td>
                            <td class="flow-text grey-text darken-2">@noVoteMapping.get(criterion).asInstanceOf[Vote.ResultBundle].sum</td>
                        </tr>


                        </tbody>
                    </table>
                </div>
                }
            }

        </div>

    </div>

    <div class="fixed-action-btn animated bounceInUp" style="bottom: 45px; right: 40px;">
        <a class="btn-floating btn-large trigger" href="@routes.ProjectList.index()">
            <i class="large mdi-action-home waves-effect waves-light"></i>
        </a>
        <ul>
            @if(user.getIdtype != -1){
                <li><a class="btn-floating red " href="@routes.Application.logout()"><i class="large mdi-action-settings-power"></i></a></li>
            }
            @if(user.getIdtype == User.ADMINISTRATOR) {
                <li><a class="btn-floating yellow derken-1" href="@routes.AdminPage.index()"><i class="large mdi-action-settings waves-effect waves-light"></i></a></li>
            }
        </ul>
    </div>
}{
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/votepage.css")">
}{

}